* {
  font-family: 'Inter', system-ui;
  box-sizing: border-box;
  outline: none;
  a {
    color: inherit;
    text-decoration: none;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

.wrapper {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border-bottom: 1px solid #EAEAEA;

  .headerLeft {
    display: flex;
    align-items: center;

    img {
      margin-right: 15px;
    }

    h3,
    p {
      margin: 0;
    }

    h3 {
      text-transform: uppercase;
    }

    p {
      opacity: 0.5;
    }
  }
  .headerRight {
    display: flex;

    li {
      margin-right: 30px;
      cursor: pointer;

      .cart {
        margin-right: 10px;
      }

      &:last-of-type {
        margin-right: 0px;
      }
    }
  }
}

.content {
  padding: 40px;
  h1 {
    margin: 0;
  }
}

.sneakers {
  display: flex;
  flex-wrap: wrap;
}

.cardBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  div {
    display: flex;
    flex-direction: column;
  }
}

.search-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  justify-content: space-between;
}

.search-block {
  display: flex;
  align-items: center;
  border: 1px solid #F3F3F3;
  border-radius: 10px;
  padding: 0 15px;

  input {
    border: 0;
    padding: 13px;
    font-size: 16px;
    width: 200px;
  }

  svg {
    height: 15px;
    cursor: pointer;
  }
}

.cartTotalBlock {
  ul {
    margin-bottom: 40px;

    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
    }
  
    div {
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed #dfdfdf;
      position: relative;
      top: -4px;
      margin: 0 7px;
    }
  }

  .greenButton {
    position: relative;

    &:disabled {
      animation: button-loading 0.6s ease-in-out infinite;
    }

    &:hover {
      img {
        transform: translateX(5px);
      }
    }

    img {
      position: absolute;
      right: 30px;
      top: 20px;
      transition: transform 0.15s ease-in-out;
    }
  }
}

.greenButton {
  width: 100%;
  height: 55px;
  background: #9DD558;
  border-radius: 18px;
  border: 0;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s ease-in-out;

  &:disabled {
    background-color: #bebebe !important;
    cursor: default;
  }

  &:hover {
    background: lighten(#9DD558, 10%);
  }

  &:active {
    background: darken(#9DD558, 10%);
  }
}

.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 30px;
  width: 100%;
  height: 119px;

  .cartItemImg {
    height: 70px;
    width: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0px 20px;
  }

  div {
    width: 150px;
    p {
      margin: 0;
      font-size: 14px;
    }

    b {
      font-size: 14px;
    }
  }

  svg {
    margin: 0px 20px 0px 12px;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}

.cartEmpty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1 0 auto;

  text-align: center;

  .greenButton {
    width: 245px;
    margin-top: 20px;

    &:hover {
      .buttonImg {
        transform: rotate(180deg) translateX(3px);
      }
    }

    .buttonImg {
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transition: transform 0.15s ease-in-out;
    }
  }

  .cartImg {
    margin-bottom: 20px;
  }

  p {
    width: 280px;
    line-height: 24px;
    opacity: 0.6;
  }
}

@keyframes button-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}